<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="LOG_FILE" value="${LOG_FILE:-logs/service}"/>

    <property name="LOG_FILE_MAX_HISTORY_DAYS" value="${LOG_FILE_MAX_HISTORY_DAYS:-15}"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY_DAYS}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CATALINA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/catalina.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/catalina.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY_DAYS}</maxHistory>
        </rollingPolicy>
    </appender>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <jmxConfigurator/>

    <logger name="org.apache.catalina" level="INFO">
        <appender-ref ref="CATALINA" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>