<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Latest compiled and minified CSS -->
	<style type="text/css">
	html,body{
		height:100%;
	}
	.upper{
		background-color:#1FA080;
		height:40%;
		font-size:300%;
		color:white;
		display:inline-block;
		width:100%;
		text-align:center;
		padding-top:10%;
	}
	.lower{
		height:60%;
		background-color:#00BFA5;
	}
	.card{
		height:40%;
		background-color:white;
		display:inline-block;
		position: absolute;
		top:24%;
		padding:0;
		box-shadow:1px 1px 3px #888;
		margin-left:8.33%;
		word-wrap: break-word;
		padding:3% 10%;
	}
	.main{
		height:100%;
		padding:0px;
	}
	.card > img{
		position:relative;
		top:20%;
	}
	@media only screen and (max-width:400px){
		.upper{
			font-size:20px;
		}
		.card{
			font-size:70%;
		}
		.card > img{
		height:20px;
		position:relative;
		top:10%;
	}
	}
	@media only screen and (max-width:600px){
		.card > img{
		height:40px;
		position:relative;
		top:30%;
	}
	}
	</style>
</head>
<body>
	<div class="main" style="height:100%;
		padding:0px;">
		<div class="upper">
		Humanize
		</div>
		<div class="card" style="height:40%;
		background-color:white;
		display:inline-block;
		position: absolute;
		top:24%;
		padding:0;
		box-shadow:1px 1px 3px #888;
		margin-left:8.33%;
		word-wrap: break-word;
		padding:3% 10%;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere eu diam ultricies ornare. Nunc fringilla maximus nulla, eget placerat tortor tincidunt ut. Suspendisse et nisi ornare, cursus leo sit amet, feugiat nunc. Integer fermentum et mauris vitae gravida
		<br><a href="#" title="">Click here</a>
		<img src="google-play-badge2.png" height="60px"alt="" style="position:relative;
		top:20%;">
		</div>
		<div class="lower" style="height:60%;
		background-color:#00BFA5;">	
		</div>
	</div>
</body>
</html>